<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Emulador GPS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Seu CSS personalizado (se necessário) -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="bg-dark text-white p-3">
        <div class="container">
            <h1>Emulador GPS</h1>
            <nav class="nav">
                <a class="nav-link text-white" href="/">Início</a>
                <a class="nav-link text-white" href="/relatorios">Relatórios</a>
            </nav>
        </div>
    </header>
    <main class="container my-4">

        <!-- Seus scripts personalizados (se houver) -->
        <!-- Bootstrap JS, Popper.js e jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>